body {
  background-color: #ECEFF1;
}
/* YOUR CUSTOM STYLES */
main {
	/*padding-top: 62px;*/
	padding-bottom: 2rem;
}

/*html, body, 
*/

/*.bg-sizing {
	height: 462px;
}*/

#main {
  padding-top: 81px;
}

.extra-margins {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

#contact .fa {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.intro-text {
  font-size: 1.2rem;
}



/*.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand, .navbar-dark form .form-control {
	color: #ccc;
}*/

.scrolling-navbar {
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}

/*.top-nav-collapse {
	background-color: #1C2331;
}

@media only screen and (max-width: 768px) {
	.navbar{
		background-color: #1C2331
	}
}*/


/*Intro*/
.bg-sizing {
    background: url("../../images/bg-gradient-pcb.jpg")no-repeat center center fixed;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .bg-sizing {
        height: auto;
        position: relative;
    }
}


.description {
    /*padding-top: 12.5%;*/
    /*padding-bottom: 3rem;*/
    color: #fff
}

/*Shopify stuff*/
.product {
  max-width: 400px;
  box-shadow: 0 0 15px 5px #eee;
  padding: 30px;
}

.product__buy {
  background: #7ab55c;
  padding: 0.5625em 1.875em;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
}

.product__buy:hover {
  text-decoration: none;
  background: #6aa74c;
}

.card.intro-card {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.card .activator.keep-buttony{
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 1rem;
  float: none;
}

ul.nav.navbar-nav {
  padding-top: 8px;
}

/*From: https://codepen.io/anon/pen/YWwpvj*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-template {
  margin-top: 55px;
}

/*From: http://stackoverflow.com/questions/8878033/how-to-make-twitter-bootstrap-menu-dropdown-on-hover-rather-than-click*/
/*ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}*/

/*Contol hover menu size, color*/
li.nav-item.dropdown > ul > li a{
  font-size: 1rem;
  color: #373a3c;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.mo-padding-top {
  padding-top: 30px;
}