/* YOUR CUSTOM STYLES */
main {
	/*padding-top: 62px;*/
	padding-bottom: 2rem;
}

/*html, body, 
*/

.view {
	height: 462px;
}

.extra-margins {
	margin-top: 1rem;
	margin-bottom: 2.5rem;
}

#contact .fa {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}



.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand, .navbar-dark form .form-control {
	color: #ccc;
}

.scrolling-navbar {
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
	background-color: #1C2331;
}

@media only screen and (max-width: 768px) {
	.navbar{
		background-color: #1C2331
	}
}


/*Intro*/
.view {
    background: url("http://www.hawkridgesys.com/files/bg-gradient-pcb.jpg")no-repeat center center fixed;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}


.description {
    /*padding-top: 12.5%;*/
    /*padding-bottom: 3rem;*/
    color: #fff
}